
.LoginParent {

}
.LoginParent .LogIn {
    background-color: rgb(255,255,255,.1);
    backdrop-filter: blur(50px);
    border: 2px solid rgb(255,255,255,.2);
    box-shadow: 0 0 10px rgb(0,0,0,.2);
}
.LoginParent{

    background-image: url("../../../assets/AllImage/Login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.LoginParent .LogIn .MaineCard .Right{

}
.LoginParent .LogIn .MaineCard .Right .FromData {

}
.LoginParent .LogIn .MaineCard .Right .FromData input {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.LoginParent .LogIn .MaineCard .Right .FromData .Register {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: sans-serif;
}






























.alertContainerLogin {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.showAlertJs {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.alertContainerLogin .poup {
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    position: relative;
}


.alertContainerLogin .poup .popInfo  input {
    width: 100%;
    margin-top: 22px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
    height: 44px;
    border-radius: 6px;
}

.alertContainerLogin .poup .popInfo  h6 {
    color: #22afa3;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}



.alertContainerLogin .poup .popInfo  .UpdateButton {
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #22afa3;
    padding: 8px 16px;
    border-radius: 8px;
    transition: .4s;
    background-color: #22afa3;
    width: 100%;
    text-align: center;
    margin-top: 14px;
}

.removeAlertBtn {
    border: 2px solid white;
    position: absolute;
    top: 22px;
    right: 22px;
    border-radius: 50%;
    line-height: 17px;
    font-size: 28px;
}
