
.LoginParent {
    background-color: #F0F9FF;
}
.LoginParent .LogIn {
   
}

/* ======================= */
/* Left side css all */
/* ======================= */

.LoginParent .LogIn .MaineCard .Left {

}

.LoginParent .LogIn .MaineCard .Left h2 {
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-bottom:14px;
}

.LoginParent .LogIn .MaineCard .Left {
    padding: 54px 14px;
}

.LoginParent .LogIn .MaineCard .Left .Prefer  {
    margin-top:24px;
}

.LoginParent .LogIn .MaineCard .Left .Prefer h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.LoginParent .LogIn .MaineCard .Left .Prefer p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

/* ======================= */
/* Right side css all */
/* ======================= */

.LoginParent .LogIn .MaineCard .Right {
    background-color: #F9FBFD;
    background-color: rgb(255, 255, 255, .1);
    backdrop-filter: blur(50px);
    border: 2px solid rgb(255, 255, 255, .2);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
}
.LoginParent .LogIn .MaineCard .Right h2 {
    font-size: 28px;
    font-weight: 600;
    padding: 18px;
    text-align: center;
    background-color: #0171D3;
    color: white;
}

.LoginParent .LogIn .MaineCard .Right .Register {

    background-color: #0171D3 !important;

}









.LoginParent .LogIn .MaineCard .Right .FromData {}


.LoginParent .LogIn .MaineCard .Right .FromData input {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.LoginParent .LogIn .MaineCard .Right .FromData .Register {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: sans-serif;
}




























/* ================================= */
/* Alert Change Password */
/* ================================= */

.alertContainerLogin {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.showAlertJs {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.alertContainerLogin .poup {
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    position: relative;
}


.alertContainerLogin .poup .popInfo input {
    width: 100%;
    margin-top: 22px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
    height: 44px;
    border-radius: 6px;
}

.alertContainerLogin .poup .popInfo h6 {
    color: #22afa3;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}



.alertContainerLogin .poup .popInfo .UpdateButton {
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #22afa3;
    padding: 8px 16px;
    border-radius: 8px;
    transition: .4s;
    background-color: #22afa3;
    width: 100%;
    text-align: center;
    margin-top: 14px;
}

.removeAlertBtn {
    border: 2px solid white;
    position: absolute;
    top: 22px;
    right: 22px;
    border-radius: 50%;
    line-height: 17px;
    font-size: 28px;
}