/* ================================================= */
/* Route active work Start */
/* ================================================= */
.RouteAllParent a .active {
    /* color: #21147A; */
}

.menu li>*:not(ul):not(.menu-title):not(details):active,
.menu li>*:not(ul):not(.menu-title):not(details).active,
.menu li>details>summary:active {
    color: rgb(11, 130, 227);
    background-color: rgb(244, 249, 255);

}

/* ================================================= */
/* Route active work End */
/* ================================================= */

/* ================================================= */
/* Route hover and design work start */
/* ================================================= */
.RouteAllParent li {
    font-family: Manrope, -apple-system, "Helvetica Neue", Arial, "Segoe UI", sans-serif;
    font-size: 14px;
    margin-top: 6px;
    font-weight: 400;
    color: rgb(35, 40, 54);
}

.RouteAllParent li span {
    color: black;
    font-size: 14px;
    margin-right: 6px;
}

.RouteAllParent a {
    transition: .4s;
    background-color: transparent;
    border: none;
}

.RouteAllParent a:hover {
    /* background-color: #F4F9FF; */
    background-color: rgb(244, 249, 255);
    color: rgb(35, 40, 54);
    border: none;
}

/* ================================================= */
/* Route hover and design work end */
/* ================================================= */


/* ===================================== */
/* Another Work start */
/* ===================================== */

.menuParent {
    background-color: #FFFFFF;
    overflow: overlay;
}
.menuParent:-webkit-scrollbar {
    display: none;
}

.menuParent .Dashboard {
    background-color: rgb(244, 249, 255);
    color: rgb(11, 130, 227);
    border-radius: 8px;
    padding: 4px 0px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.menuParent .Information h2{
    font-family: Manrope, -apple-system, "Helvetica Neue", Arial, "Segoe UI", sans-serif;
}



/* .Logo {
    font-size: 21px;
    font-family: emoji;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.Logo span {
    color: black;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 16px;
} */


